<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Login</title>
	{% load compress %}
	{% load static %}
	{% compress css %}
	<link href="{% static 'bootstrap/style.scss' %}" rel="stylesheet" type="text/x-scss">
	{% endcompress %}
	<link href="{% static 'favicon.ico' %}" rel="icon">
	<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
		  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
	<form method="post">
	{% csrf_token %}
		<div class="container py-4 transition">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-8 col-lg-6 col-xl-6">
					<div class="card bg-dark text-white" style="border-radius: 1rem;">
						<div class="card-body p-4 text-center">
								<img class="w-25" src="{% static 'favicon.ico' %}">
								<h2 class="fw-bold mb-2 text-uppercase">Login</h2>
								<p class="text-white-50">Please enter your login and password!</p>
								<div class="form-outline form-white mb-4">
									<input class="form-control form-control-lg" id="id_username" name="username"
										   type="text"/>
									<br>
									<label class="form-label" for="id_username">Email</label>
								</div>
								<br>
								<div class="form-outline form-white mb-4">
									<input class="form-control form-control-lg" id="id_password" name="password"
										   type="password"/>
									<br>
									<label class="form-label" for="id_password">Password</label>
								</div>
								<p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a>
								</p>
								<button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
								<div class="d-flex justify-content-center text-center mt-4 pt-1">
									<a class="text-white" href="#!"><i class="fab fa-facebook-f fa-lg"></i></a>
									<a class="text-white" href="#!"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
									<a class="text-white" href="#!"><i class="fab fa-google fa-lg"></i></a>
								</div>
							<p class="mb-0">Don't have an account?
								<a class="text-white-50 fw-bold" href="#!">Sign Up</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>