{% extends 'main.html' %}

{% block content %}

<div class="wrapper container">
  <div class="content clearfix">
    <p>Welcome {{ user.username }}!</p>
    <p class="clear"><br /></p>

    <header class="site clearfix">
      <div class="col one">
        <img src="https://assets.codepen.io/2856/Logo_591Design_2015-12-01.png" alt="591 Systems" width="740" height="729" id="logo-v" />
      </div>
      <div class="col two">
        <h4>591 Systems (tm) <br /> <b>H</b>euristically <b>E</b>ncrypted <b>R</b>ealtime <b>O</b>perating <b>S</b>ystem (HEROS)</h4>
        <p>----------------------------------------</p>
        <p>HEROS v 1.0.0</p>
        <p>(c)2023 591 Industries</p>
        <p>- Server 591 -</p>
      </div>
    </header>
    <p>System Administrator Integrated Message System (SAIMS)</p>
    <p>System Administrator (SYSADM) - Mack Richardson</p>
    <p class="clear"><br /></p>
    <p>Welcome to the System Administrator Integrated Message System (SAIMS).</p>
  </div>
</div>

{%  endblock content %}