<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Main page</title>
	{% load compress %}
	{% load static %}
	{% compress css %}
	<link href="{% static 'bootstrap/style.scss' %}" rel="stylesheet" type="text/x-scss">
	{% endcompress %}
	<link href="{% static 'favicon.ico' %}" rel="icon">
	<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
		  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<script crossorigin="anonymous"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<div class="scanline"></div>
<div class="container transition">
	{% if user.is_authenticated %}
	{% include 'navbar.html' %}
	{% block content %}
	{% endblock %}
	{% else %}
	<p>You are not logged in</p>
	<a href="{% url 'login' %}">Log In</a>
	{% endif %}
</div>
</body>
</html>