<nav class="navbar navbar-expand-xl d-inline-flex p-2 justify-content-evenly w-100">
    <ul class="container-fluid gap-1">
      <li style="padding: 0 20px 0 20px"><a href="/">Home</a></li>
      <li style="padding: 0 20px 0 20px"><a href="/personnage">Personnage</a></li>
      <li style="padding: 0 20px 0 20px"><a href="/quest">Campagne</a></li>
      <li style="padding: 0 20px 0 20px"><a href="{% url 'logout_redirect' %}">Log Out</a></li>
    </ul>
</nav>
<hr>