@import "./scss/_functions.scss";
@import url(https://fonts.googleapis.com/css?family=VT323);

// Include any default variable overrides
$body-bg: #383838;
$body-color: #00dd00;
//$body-color: white;
$table-bg: inherit;
$table-border-color: #00dd00;
$table-border-width: 3px;
$font-family-base: 'VT323', Courier;
$font-size-base: 64.5%;
$font-size-base: 1.5rem;
$link-color: white;
$focus-ring-color: #00dd00;
$progress-bar-bg: #00dd00;

// Include remainder of required Bootstrap stylesheets
@import "./scss/_variables.scss";
@import "./scss/_variables-dark.scss";

// Include any default map overrides
@import "./scss/_maps.scss";
@import "./scss/_mixins.scss";
@import "./scss/_root.scss";

//Include Custom code under

@import url(https://fonts.googleapis.com/css?family=VT323);

@keyframes scroll {
	0% { height: 0 }
	100% { height: 100%; }
}

@keyframes type {
  from { width: 0; }
}

@keyframes type2 {
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100%; }
}

@keyframes blink {
  to{opacity: .0;}
}

@keyframes scan {
	from { top: 0 }
	to { top: 100% }
}

/* @keyframes flicker {
		0% { opacity: 0.15795 }
		5% { opacity: 0.31511 }
		10% { opacity: 0.94554 }
		15% { opacity: 0.2469 }
		20% { opacity: 0.62031 }
		25% { opacity: 0.0293 }
		30% { opacity: 0.00899 }
		35% { opacity: 0.5344 }
		40% { opacity: 0.12778 }
		45% { opacity: 0.52042 }
		50% { opacity: 0.3823 }
		55% { opacity: 0.2198 }
		60% { opacity: 0.9383 }
		65% { opacity: 0.86615 }
		70% { opacity: 0.68695 }
		75% { opacity: 0.55749 }
		80% { opacity: 0.96984 }
		85% { opacity: 0.0361 }
		90% { opacity: 0.24467 }
		95% { opacity: 0.08351 }
		100% { opacity: 0.54813 }
	} */

::-webkit-scrollbar {
  display: none;
}

* {
	box-sizing: border-box;
	}

html,
body {
	background: #383838 !important;
	color: #00dd00 !important;
	font-size: 64.5% !important;
	font-size: 1.4em !important;
	font-family: 'VT323', Courier !important;
	height: 100% !important;
	margin: 0;
	padding: 0;
}

h1, h2, h3 h4, h5, h6 {
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
}
h4 b {
  color: white;
}
a {
	color: white !important;
	text-decoration: none !important;
}

a:hover {
	color: red !important;
}

p {
	line-height: 100%;
	margin: 0;
}

span { animation: blink 1s infinite }

ul {
	list-style: none;
}

ul a:before,
p a:before {
	color: #00dd00;
}

ul a:after,
p a:after {
	color: #00dd00;
}

header.site {
	margin: 0 0 40px 0;
	text-transform: uppercase;
}

nav.site {
	margin: 0 0 40px 0;
  position: relative;
  width: 100%;
  z-index: 10;
}

nav.site ul {
	padding: 0;
}

nav.site ul li {
	display: inline-block;
  padding: 0 10px;
  width: auto;
}

.col {
	float: left;
	padding: 0 20px;
}

table td,
table {
	background-color: #383838 !important;
}

td, th {
	border: 1px solid #212529 !important;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

thead {
  top: 0;
  position: sticky;
}
.intro {
  height: 100%;
}

.col.two { width: auto; }

.transition {
	animation: scroll 3s 1;
  	overflow: hidden;
	position: relative;
}

.wrapper {
  animation: scroll 5s 1;
  margin: 0;
  overflow: hidden;
  padding: 0;
    scrollbar-width: none;
  -ms-overflow-style: none;
}

.content {
	animation: scroll 3s 1;
  overflow: hidden;
	padding: 40px;
	position: relative;
	width: 95%;
}

#logo-v {
	display: block;
	height: auto;
	margin: 0 auto;
	width: 200px;
}

img.pip-hero {
	display: block;
	float: left;
	height: auto;
	margin: 5px 10px 5px 0;
	width: 120px;
}

label {
	clear: left;
	display: block;
	float: left;
	margin-right: 10px;
	padding-top: 5px;
}

input[type=text],
input[type=password],
textarea {
	background: transparent;
	border: none;
	color: #00dd00;
	display: block;
	float: left;
	font-family: 'VT323', Courier;
	font-size: 1.2em;
	position: relative;
	//width: 80%;
	z-index: 10
}

textarea {
	margin-bottom: 20px;
	overflow: auto;
	resize: none;
}

input[type=text]:focus,
input[type=password]:focus,
//textarea:focus,
input[type=submit]:focus,
a.button:focus {
	outline: none;
	box-sizing: border-box;
	background-color: transparent;
	color: #00dd00;
}

input[type=submit],
a.button {
	background: transparent;
	border: 1px solid #00dd00;
	clear: both;
	color: #00dd00;
	cursor: hand;
	display: inline-block;
	font-family: 'VT323', Courier;
	font-size: 1em;
	margin-bottom: 20px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	z-index: 10;
}

input[type=submit]:hover,
a.button:hover {
	background: #00dd00;
	color: #383838 !important;
}

button.origine:hover {
	color: white !important;
}

button:hover {
	color: black !important;
}

.expandingArea { position: relative }

.scanline {
	animation: scroll 10s 5s infinite;
	background: -moz-linear-gradient(top,  rgba(0,221,0,0) 0%, rgba(0,221,0,1) 50%, rgba(0,221,0,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,221,0,0) 0%,rgba(0,221,0,1) 50%,rgba(0,221,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,221,0,0) 0%,rgba(0,221,0,1) 50%,rgba(0,221,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000dd00', endColorstr='#0000dd00',GradientType=0 );
	display: block;
	height: 20px;
	opacity: 0.05;
	position: absolute;
		left: 0;
		right: 0;
		top: -5%;
}

.clear {
	clear: both;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.upper { text-transform: uppercase; }

@import "./style_display.scss";
@import "./style_modify.scss";

@import "./scss/bootstrap";
