/**** BEGIN Animation ****/
.parent{
	display: flex;
	position: relative;
}

.gear{
	width: 150px;
	height: 150px;
	margin: 1rem;
	background: #00dd00;
	border-radius: 50%;
	animation-name: spin;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.gear .center{
		position: absolute;
		top: 25%;
		left: 25%;
	z-index: 10;
	width: 50%;
	height: 50%;
	background: #383838;
	border-radius: 50%;
}

.tooth{
	position: absolute;
	top: -12.5%;
	left: 37.5%;
	z-index: 1;
	width: 22.5%;
	height: 125%;
	background:#00dd00;
}
	
.tooth:nth-child(2)
{
	transform: rotate(45deg);
}

.tooth:nth-child(3){
		transform: rotate(90deg);
}

.tooth:nth-child(4){
	transform: rotate(135deg);
}

@keyframes spin {
	from {transform: rotate(0deg); }
	to {transform: rotate(360deg);}
}

.mini {
		width: 100px;
		height: 100px;
}
	
.box-attribute {
		position: relative;
}

/**** END Animation ****/
	
.title {
		color: white;
}


.text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		z-index: 10;
}

table {
	/*max-width: 33%;*/
	/*margin: 1em;*/
}



input{
	accent-color:#00dd00;
	outline: 2px solid #00dd00;
	//pointer-events: none;
}

.right-space {
	margin-right: 10px;
}

.sheet
{
	height: 100%;
}

.nav-tabs {
    border-bottom: 3px solid #00dd00 !important;
}

.nav .nav-link {
    color: #00dd00;
}

.nav .active {
    color: white !important;
    border-left: 2px solid #00dd00 !important;
    border-top: 2px solid #00dd00 !important;
    border-right: 2px solid #00dd00 !important;
}

.nav-link.active {
    background-color: transparent !important;
    border: 2px solid #00dd00 !important;
}

.form-check-input:checked {
    background-color: #00dd00 !important;
    border-color: #00dd00 !important;
}