{% extends 'main.html' %}

{% block content %}


<div class="container">
    <form method="POST">
        {% csrf_token %}
        <h1>Créer un personnage</h1>
        <p>Lorsque vous créez un personnage, vous devez effectuer certains choix concernant son origine, ses attributs S.P.E.C.I.A.L, ses compétences et ses aptitudes, puis calculer ses statistiques dérivées.</p>
        <div class="input-group mb-3 w-25">
            <input name="nom" id="nom_personnage" type="text" class="form-control form-control-lg w-25" placeholder="Nom du personnage" aria-label="Username" onfocusout="display_step_1()">
        </div>
        <div id="step_1" class="d-none">
            <hr>
            <h2>Étape 1 : Choisir son origine</h2>
            {% include "personnage/creation/step_1.html" %}
        </div>
        <div id="step_2" class="d-none">
            <hr>
            <h2>Étape 2 : Augmenter ses attributs S.P.E.C.I.A.L</h2>
            {% include "personnage/creation/step_2.html" %}
        </div>
        <div id="step_3" class="d-none">
            <hr>
            <h2>Étape 3 : Atouts personnels et achats de rangs de compétence</h2>
            {% include "personnage/creation/step_3.html" %}
        </div>
        <div id="step_4" class="d-none">
            <hr>
            <h2>Étape 4 : Choisir sa première aptitude</h2>
            {% include "personnage/creation/step_4.html" %}
        </div>
        <div id="step_5" class="d-none">
            <hr>
            <h2>Étape 5 : Statistique dérivées</h2>
            {% include "personnage/creation/step_5.html" %}
        </div>
        <hr>
        <input id="submit" type="submit" value="Submit" disabled/>
    </form>
</div>

{%  endblock content %}