{% extends 'main.html' %}

{% block content %}

<div class="container-fluid sheet text-center">
	<div class="row">
		<div class="col-md-auto">
			<table class="table">
				<tr><td><div class="title">Nom du Personnage</div></td></tr>
				<tr><td><div class="body">{{personnage.name}}</div></tr></td>
			</table>
			<ul><li><a href="/personnage/update/{{personnage.id}}">Modify</a></li></ul>
		</div>
		<div class="col col-md-auto">
			<table class="table">
				<tr>
					<td><div class="title">XP Actuel</div></td>
					<td><div class="body">{{personnage.xp}}</div></td>
				</tr>
			</table>
			<table class="table">
				<tr>
					<td><div class="title">XP avant niveau sup</div></td>
					<td><div class="body">{{personnage.get_experience_needed}}</div></td>
				</tr>
			</table>
			<table class="table">
				<tr>
					<td><div class="title">Origine</div></td>
					<td><div class="body">{{personnage.get_origine_display}}</div></td>
				</tr>
			</table>
		</div>
		<div class="col col-md-auto position-relative h-100">
			<div class="gear">
				<div class="center"></div>
				<div class="tooth"></div>
				<div class="tooth"></div>
				<div class="tooth"></div>
				<div class="tooth"></div>
			</div>
			<div class="text">LVL {{personnage.level}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-md-auto table-responsive-lg">
			<table class="table">
				<tr>
					<th><div class="label">S</div></th>
					<th><div class="label">P</div></th>
					<th><div class="label">E</div></th>
					<th><div class="label">C</div></th>
					<th><div class="label">I</div></th>
					<th><div class="label">A</div></th>
					<th><div class="label">L</div></th>
				</tr>
				<tr>
					{% for attribut in list_attributes %}
					<td>
						<div class="box-attribute">
							<div class="gear mini">
								<div class="center"></div>
								<div class="tooth"></div>
								<div class="tooth"></div>
								<div class="tooth"></div>
								<div class="tooth"></div>
							</div>
							<div class="text">{{ attribut }}</div>
						</div>
					</td>
					{% endfor %}
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="table-responsive col col-md-auto">
			<table class="table table-hover">
				<tr>
					<th>Nom</th>
					<th>Atout</th>
					<th>Rang</th>
				</tr>
				{% for competence in list_competences %}
				<tr>
					<td>{{competence.name}} [{{competence.attribut}}]</td>
					<td>
						{% if competence.is_atout_perso %}
						<input type="checkbox" disabled="disabled" checked>
						{% else %}
						<input type="checkbox" disabled="disabled">
						{% endif %}
					</td>
					<td>{{competence.rang}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col col-md-auto">
			<div class="row">
				<table class="table col right-space">
					<tr>
						<td><div class="title">PV max</div></td>
						<td><div class="body">{{personnage.pv_max}}</div></td>
					</tr>
				</table>
				<table class="table col right-space">
					<tr>
						<td><div class="title">PV actuels</div></td>
						<td><div class="body">{{personnage.pv}}</div></td>
					</tr>
				</table>
				<table class="table col right-space">
					<tr>
						<td><div class="title">Initiative</div></td>
						<td><div class="body">{{personnage.initiative}}</div></td>
					</tr>
				</table>
				<table class="table col right-space">
					<tr>
						<td><div class="title">Point de chance</div></td>
						<td><div class="body">{{personnage.chance_point}}</div></td>
					</tr>
				</table>
				<table class="table col right-space">
					<tr>
						<td><div class="title">Bonus de mêlée</div></td>
						<td><div class="body">{{personnage.bonus_corps_a_corps}}</div></td>
					</tr>
				</table>
				<table class="table col right-space">
					<tr>
						<td><div class="title">Défense</div></td>
						<td><div class="body">{{personnage.bonus_defense}}</div></td>
					<tr>
				</table>
			</div>
			<div class="row">
				{% for parti in list_parti %}
				<table class="table col right-space">
					<tr>
						<th colspan="2"><div class="title">{{parti.get_position_display}}</div></th>
					</tr>
					<tr>
						<td><div class="title">RD Bal</div></td>
						<td><div class="body">{{parti.resistance_balistique}}</div></td>
					</tr>
					<tr>
						<td><div class="title">RD Éne</div></td>
						<td><div class="body">{{parti.resistance_energie}}</div></td>
					</tr>
					<tr>
						<td><div class="title">RD Rad</div></td>
						<td><div class="body">{{parti.resistance_radiation}}</div></td>
					</tr>
				</table>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row">
		{% include "personnage/inventaire/inventaire.html" %}
	</div>
</div>

{%  endblock content %}