{% extends 'main.html' %}

{% block content %}

<a class="button btn btn-primary btn-lg" href="{% url 'fallout:create-personnage' %}" >Créer un Personnage</a>
<div class="table-responsive table-scroll text-center" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
  <table class="table table-dark mb-0">
      <h2>Liste des personnages</h2>
    <thead>
        <tr class="text-uppercase">
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Origine</th>
            <th scope="col">LVL</th>
            <th scope="col">Campagne</th>
        </tr>
    </thead>
    <tbody>
    {% for personnage in personnages %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{{personnage.id}}">{{personnage.name}}</a></td>
        <td>{{personnage.get_origine_display}}</td>
        <td>{{personnage.level}}</td>
        <td>{% if personnage.quest %}<a href="/quest/{{personnage.quest.id}}">{{personnage.quest}}</a> {% else %} / {% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{%  endblock content %}