{% extends 'main.html' %}

{% block content %}

<h2>Modification</h2>

<div class="form">
    <form method="POST">
        {% csrf_token %}

        <div class="form-line">
            {{persoform.errors}}
            <label for="id_name">Nom</label>
            {{persoform.name}}
        </div>
        <div class="form-line">
            <label for="id_origine">Origine</label>
            {{persoform.origine}}
        </div>
        <div class="form-line">
            <label for="id_force">Force</label>
            {{persoform.force}}
        </div>
        <div class="form-line">
            <label for="id_perception">Perception</label>
            {{persoform.perception}}
        </div>
        <div class="form-line">
            <label for="id_endurance">Endurance</label>
            {{persoform.endurance}}
        </div>
        <div class="form-line">
            <label for="id_charisme">Charisme</label>
            {{persoform.charisme}}
        </div>
        <div class="form-line">
            <label for="id_intelligence">Intelligence</label>
            {{persoform.intelligence}}
        </div>
        <div class="form-line">
            <label for="id_agilite">Agilite</label>
            {{persoform.agilite}}
        </div>
        <div class="form-line">
            <label for="id_chance">Chance</label>
            {{persoform.chance}}
        </div>
		
		<div>
			<div>
				Compétences
			</div>
			<table>
				
				{{ compform.management_form }}
				 {% for competence in compform %}
					{{competence}}
				{% endfor %}
			</table>
		</div>

        <input type="submit" value="Submit" />
    </form>
</div>

{%  endblock content %}