{% extends 'main.html' %}

{% block content %}
{% load static %}

<div class="position-absolute top-50 start-0 translate-middle-y">
    <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="side-bar-menu">
            <div class="card card-body" style="width: 300px;">
                <nav class="navbar">
                    <div class="container-fluid">
                        <!-- Links -->
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#">Link 1</a>
                            </li>
                            <li class="nav-item">
                                <a href="#">Link 2</a>
                            </li>
                            <li class="nav-item">
                                <a href="#">Link 3</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a href="#">Link</a></li>
                                    <li class="nav-item"><a href="#">Another link</a></li>
                                    <li class="nav-item"><a href="#">A third link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col">
        <div class="row">
            <div class="col">
                <ul class="d-flex justify-content-center">
                    <li><a href="#">Craft</a></li>
                    <li><a href="#">Règles</a></li>
                    <li><a href="#">Etc...</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr><td>PNJ</td></tr>
                    <tr><td>...</td></tr>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <tr><td>PNJ</td></tr>
                    <tr><td>...</td></tr>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <tr><td>PNJ</td></tr>
                    <tr><td>...</td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row fixed-bottom">
        {% for perso in list_perso %}
        <div class="col">
            <table class="table" style="vertical-align: middle" >
                <tr>
                    <td style="white-space: nowrap">
                        <a href="/personnage/{{perso.id}}">{{perso.name}}</a>
                        <div class="progress">
                            {% if perso.get_pourcentage_health <= 33 %}
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{perso.get_pourcentage_health}}" aria-valuemin="0" aria-valuemax="100" style="width: {{perso.get_pourcentage_health}}%; background-color: red"></div>
                            {% elif perso.get_pourcentage_health <= 66 %}
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{perso.get_pourcentage_health}}" aria-valuemin="0" aria-valuemax="100" style="width: {{perso.get_pourcentage_health}}% ; background-color: orange"></div>
                            {% else %}
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{perso.get_pourcentage_health}}" aria-valuemin="0" aria-valuemax="100" style="width: {{perso.get_pourcentage_health}}%"></div>
                            {% endif %}
                        </div>
                        {{perso.pv}} / {{perso.pv_max}} PV
                    </td>
                    <td style="text-align: center ">
                        <div class="row row-cols-{% if list_perso|length > 3 %}2{% else %}3{% endif %}">
                            {% with list_biggest=perso.is_the_biggest %}
                            {% for i, j in perso.get_attributes.items %}
                            <div class="col" {% if i in list_biggest %} style="color:red" {% endif %}>{{i}} {{j}}</div>
                            {% endfor %}
                            {% endwith %}
                            <div class="col">L: {{perso.chance_point}}/{{perso.chance}}</div>
                            <div class="col">INI: {{perso.initiative}}</div>
                        </div>
                    </td>
                    <td>
                        <ul class="list-group">
                            <a href="#" class="no-bracket list-group-item list-group-item-action">
                                Inventaire
                            </a>
                            <a href="#" class="no-bracket list-group-item list-group-item-action">
                                Aptitude
                            </a>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
</div>

{%  endblock content %}