{% extends 'main.html' %}

{% block content %}

<div class="wrapper">
  <div class="content clearfix">
	<div class="table-responsive text-center">
		<table class="table table-bordered caption-top table-hover">
			<h2>Liste des Campagnes</h2>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">XP</th>
			</tr>
			{% for campagne in list_campagne %}
			<tr>
				<td scope="row">{{ forloop.counter }}</td>
				<td><a href="/quest/{{campagne.id}}">{{campagne.name}}</a></td>
				<td>{{campagne.xp_point}}</td>
			</tr>
			{% endfor %}

		</table>
	</div>
  </div>
</div>

{%  endblock content %}