<div class="table-responsive col">
    <table class="table table-hover">
        <thead>
            <tr class="border-top-0">
                <th class="align-middle" scope="col">Nom</th>
                <th class="align-middle" scope="col">Type d'arme</th>
                <th class="align-middle" scope="col">Dégâts</th>
                <th class="align-middle" scope="col">Effets de dégâts</th>
                <th class="align-middle" scope="col">Type de dégâts</th>
                <th class="align-middle" scope="col">Cadence</th>
                <th class="align-middle" scope="col">Portée</th>
                <th class="align-middle" scope="col">Qualités</th>
                <th class="align-middle" scope="col">Munition</th>
                <th class="align-middle" scope="col">Poids</th>
            </tr>
        </thead>
        <tbody>
            {% for arme in list_arme_distante%}
                <tr>
                    <td class="align-middle">{{arme.name}}</td>
                    <td class="align-middle">{{arme.type}}</td>
                    <td class="align-middle">{{arme.degat}}</td>
                    <td class="align-middle">
                        {% for effet in arme.effet.all %}
                            {{effet}}<br>
                        {% endfor %}
                    </td>
                    <td class="align-middle">{{arme.type_degat}}</td>
                    <td class="align-middle">{{arme.cadence}}</td>
                    <td class="align-middle">{{arme.portee}}</td>
                    <td class="align-middle">
                        {% for qualite in arme.qualite.all %}
                            {{qualite}}<br>
                        {% endfor %}
                    </td>
                    <td class="align-middle">{{arme.munition_type.name}} [{{arme.munition_type.quantite}}]</td>
                    <td class="align-middle">{{arme.poid}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>