<ul class="nav nav-tabs" id="inventaire" role="tablist">
	<li class="nav-item" role="presentation">
		<button aria-controls="arme-distante-tab-pane" aria-selected="true" class="nav-link active"
				data-bs-target="#arme-distante-tab-pane" data-bs-toggle="tab" id="arme-distante-tab" role="tab"
				type="button">Arme distante
		</button>
	</li>
	<li class="nav-item" role="presentation">
		<button aria-controls="arme-melee-tab-pane" aria-selected="false" class="nav-link" data-bs-target="#arme-melee-tab-pane"
				data-bs-toggle="tab" id="arme-melee-tab" role="tab" type="button">Arme de mêlée
		</button>
	</li>
	<li class="nav-item" role="presentation">
		<button aria-controls="mods-tab-pane" aria-selected="false" class="nav-link" data-bs-target="#mods-tab-pane" data-bs-toggle="tab"
				id="mods-tab" role="tab" type="button">Mods
		</button>
	</li>
</ul>
<div class="tab-content ps-0" id="inventaireContent">
	<div aria-labelledby="arme-distante-tab" class="tab-pane fade show active" id="arme-distante-tab-pane"
		 role="tabpanel" tabindex="0">{% include "personnage/inventaire/arme_distante.html" %}
	</div>
	<div aria-labelledby="arme-distante-tab" class="tab-pane fade show" id="arme-melee-tab-pane" role="tabpanel"
		 tabindex="0">{% include "personnage/inventaire/arme_melee.html" %}
	</div>
	<div aria-labelledby="mods-tab" class="tab-pane fade" id="mods-tab-pane" role="tabpanel" tabindex="0">
        {% include "personnage/inventaire/mods.html" %}
	</div>
</div>
