<div class="table-responsive col">
    <table class="table table-hover">
        <thead>
            <tr class="border-top-0">
                <th class="align-middle" scope="col">Nom</th>
                <th class="align-middle" scope="col">Description</th>
                <th class="align-middle" scope="col">Emplacement</th>
                <th class="align-middle" scope="col">Poids</th>
            </tr>
        </thead>
        <tbody>
            {% for mods in list_mods%}
                <tr>
                    <td class="align-middle">{{mods.name}}</td>
                    <td class="align-middle">{{mods.based_on.description_effet}}</td>
                    <td class="align-middle">{{mods.based_on.emplacement}}</td>
                    <td class="align-middle">{{mods.poid}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>