<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link origine" id="pills-confrerie-tab" data-bs-toggle="pill" data-bs-target="#pills-confrerie" type="button" role="tab" aria-controls="pills-confrerie" aria-selected="false">
            {{origines.0}}
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link origine" id="pills-goule-tab" data-bs-toggle="pill" data-bs-target="#pills-goule" type="button" role="tab" aria-controls="pills-goule" aria-selected="false">
            {{origines.1}}
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link origine" id="pills-super-mutant-tab" data-bs-toggle="pill" data-bs-target="#pills-super-mutant" type="button" role="tab" aria-controls="pills-super-mutant" aria-selected="false">
            {{origines.2}}
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link origine" id="pills-mister-handy-tab" data-bs-toggle="pill" data-bs-target="#pills-mister-handy" type="button" role="tab" aria-controls="pills-mister-handy" aria-selected="false">
            {{origines.3}}
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link origine" id="pills-survivant-tab" data-bs-toggle="pill" data-bs-target="#pills-survivant" type="button" role="tab" aria-controls="pills-survivant" aria-selected="false">
            {{origines.4}}
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link origine" id="pills-habitant-tab" data-bs-toggle="pill" data-bs-target="#pills-habitant" type="button" role="tab" aria-controls="pills-habitant" aria-selected="false">
            {{origines.5}}
        </button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade" id="pills-confrerie" role="tabpanel" aria-labelledby="pills-confrerie-tab" tabindex="0">
        <h3>{{origines.0}}</h3>
        <hr>
        <p align="justify" style="white-space: pre-line">
            Née des terribles révélations issues de la rébellion à la base militaire de Mariposa, la Confrérie de l'Acier a été fondée par Roger Maxson afin que son peuple (et au bout du compte, chaque survivant de ce nouveau monde) ait quelque chose en quoi croire. Dotée de sa propre mythologie, de son propre crédo et de sa propre hiérarchie, la Confrérie de l'Acier a un but principal : récupérer et préserver la technologie du monde d'avant-guerre. La Grande Guerre a perturbé l'accès de l'humanité à la technologie : les chevaliers et scribes de la Confrérie font tout leur possible pour sécuriser les progrès du passé, afin que les générations futures en bénéficient.

            Vous pouvez être le descendant d'un chevalier ou d'un paladin, né dans la Confrérie et fervent défenseur de sa doctrine, ou vous pouvez être une jeune recrue, voué à sa cause et désireuse de gravir ses échelons.

            Bien que les membres de la Confrérie partagent un même but, les différents chapitres qui la composent, répartis à travers les Terres désolées, peuvent avoir des croyances et des protocoles distincts, et ils ne sont pas aussi unis qu'il le semble. La Confrérie de l'Acier de la côte ouest était en guerre contre la République de Nouvelle Californie pour récupérer des technologies et empêcher la RNC de s'étendre. Pendant ce temps, le chapitre de la côte était isolé et préférait faire preuve de charité plutôt que d'échanger des technologies et préserver l'équipement d'avant-guerre. La mission de l'Aîné Lyon devint humanitaire et bien que cela valut au chapitre une marginalisation forcée au début, Arthur Maxson lui permit d'étendre son influence de Washington D.C, à toute la côte est, en recentrant ses efforts sur la récupération et le développement de technologies.
        </p>
        <hr>
        <h4>Trait : la Chaine de Cohésion</h4>
        <p align="justify" style="white-space: pre-line">
            Vous obtenez un atout personnel supplémentaire qui doit être, au choix :
            - Arme à énergie
            - Science
            - Réparation
            Cet atout personnel débute au rang 2.

            En tant que membres de la Connfrérie de l'Acier, vous êtes tenu de respecter la chaîne de commandemant : la Chaîne de Cohésion. Vous devez suivre les ordres de vos supérieurs directs et vous êtes responsables de vos subordonnés. Si vous n'accomplissez pas votre devoir, vous êtes renvoyé de la Confrérie et votre matériel technologique est récupéré par tous les moyens nécessaires.
        </p>
    </div>
    <div class="tab-pane fade" id="pills-goule" role="tabpanel" aria-labelledby="pills-goule-tab" tabindex="0">
        <h3>{{origines.1}}</h3>
        <hr>
        <p align="justify" style="white-space: pre-line">
            Une exposition prolongée aux effets des radiations gamma de fond (une partie des retombées de la Grande Guerre) peut faire muter les humains de manière spontanée. Vous êtes l'un de ces mutants. Lentement ou d'une manière aussi spectaculaire que spontanée, votre corps a changé et est devenu celui d'un cadavre ambulant et pourrissant. Vous ne vieillissez plus comme avant et les radiations ne vous affectent pas. Votre peau pèle et laisse apparaître votre chair, mais votre métabolisme mutant semble suffire à la remplacer.

            Vous êtes une "goule" (un post-humain nécrotique), l'un des nombreux survivants qui n'ont pas eu la chance de pouvoir s'abriter dans l'un des complexes de Vault-Tec. Êtes-vous né après la guerre et avez-vous développé la mutation nécrotique au fil du temps ? Venez-vous de l'Abri 12 à Bakerfield, Californie, dont la porte ne s'est pas fermée, ce qui a exposé la population aux radiations de l'extérieur ? Avez-vous trouvé refuge dans un campement de goules, comme l'Underworld des Terres désolées de la Capitale et vous êtes-vous aventuré tout récemment à l'extérieur pour explorer ces contrées, les fouiller et y survivre ?

            Les goules civilisées telles que vous craignez une possible dégénérescence vers une créature bestiale et violente. Les goules sauvages sont des mutants nécrotiques, comme vous, mais elles ont perdu leurs fonctions cérébrales supérieures et sont retournées à un état de violence primaire. Elles attaquent sans distinction toute créature qui n'est pas une goule afin de défendre leur territoire ou se nourrir. Vous ne savez pas si cette perte de contrôle résulte de hauts niveaux de radiation ou, somme toute, de la mutation, ce qui la rend encore plus terrifiante.
        </p>
        <hr>
        <h4>Trait : Post-humain nécrotique</h4>
        <p align="justify" style="white-space: pre-line">
            Vous êtes immunisé aux dégâts de radiation. Au contraire, ils vous soignent : vous récupérez 1 PV par tranche de 3 points de dégâts de radiation qui vous sont infligés. Si vous vous reposez dans un environment irradié, vous pouvez relancer votre réserve de dés pour voir si vos blessures guérissent. De plus, Survie devient un atout personnel : vous gagnez donc 2 rangs dans cette compétence.

            Vous vieillissez bien plus lentement qu'un humain non irradié et vous êtes probablement bien plus vieux que vos compagnons non mutants. Peut-être avez-vous même survécu à la Grande Guerre de 2077. Néanmoins, vous êtes stérile : comme dit le proverbe, "La première génération de goule est la dernière". Vous pouvez connaître de la part des "peaux-lisses" (les humains qui ne sont pas des goules), ce qui augmente la difficulté et la marge de complication des tests de Charisme, selon les croyances de votre interlocuteur.
        </p>
    </div>
    <div class="tab-pane fade" id="pills-super-mutant" role="tabpanel" aria-labelledby="pills-super-mutant-tab" tabindex="0">
        <h3>{{origines.2}}</h3>
        <hr>
        <p align="justify" style="white-space: pre-line">
            Vous êtes un humain mutant et brutal, dont l'évolution a été forcée par des expérimentations indélicates menées par les savants fous du monde d'avant ou d'après-guerre. Infecté par le virus à évolution forcée (V.E.F), votre corps a muté et est devenu une gigantesque machine à tuer, musculeuse et remplie de rage.

            Vous pouvez venir de l'armée du Maître, dans la base militaire de Mariposa en Californie, créée lorsqu'il pratiquait ses expériences sur des victimes humaines non consentantes et divisées en plusieurs factions à sa mort (chacun de ces groupes de survivants se consacrant à attaquer ou reconstruire les Terres désolées). Ou bien vous êtes issu du programme d'expérimentation évolutionnaire de l'Abri 87, dont les bandes de super mutants terrorisent les terres désolées de la Capitale. Ou encore, vous avez été enlevé dans le Commonwealth et exposé au V.F.F par l'Institut, avant qu'il vous renvoie dans les Terres désolées vous débrouiller en petits groupes de pillards. Enfin, vous pouvez tout aussi bien être un résident de Huntersville, dans les Appalaches, où le virus a contaminé la réserve d'eau, entraînant des mutations non contrôlées.

            Bien que tous les super mutants partagent les mêmes particularités, les groupes formés par ces quatre souches ne se sont jamais mélangées et les preuves d'une rencontre entre membres de bandes différentes restent rares. Même si certains d'entre eux ont migré ou voyagé au cours de leur existence, aucun n'est allé assez loin pour croiser l'un de ses homologues. Par conséquent, l'endroit où commence votre quête influencera votre origine.
        </p>
        <hr>
        <h4>Trait : Évolution forcée</h4>
        <p align="justify" style="white-space: pre-line">
            Votre Force et votre Endurance augmente de 2 et la valeur maximale de ces attributs est portée à 12. En revanche votre Intelligence et votre Charisme ne peuvent jamais être supérieurs à 6. Chacune de vos compétences est limitée au rang 4. Vous êtes complètement immunisé aux dégâts de radiation et de poison.

            Vous mesurez plus de 2,10m et votre corps est épais et musculeux. Votre peau est verte, jaune ou grisâtre, quelle qu'ait été sa couleur d'origine. Vous ne semblez pas vieillir, mais vous êtes stérile. Les seules armures que vous pouvez porter doivent être spécialement conçues pour les super mutants.
        </p>
    </div>
    <div class="tab-pane fade" id="pills-mister-handy" role="tabpanel" aria-labelledby="pills-mister-handy-tab" tabindex="0">
        <h3>{{origines.3}}</h3>
        <hr>
        <p align="justify" style="white-space: pre-line">
            Le robot de construction "Mister Handy", de General Atomics International, a explosé sur le marché de la robotique grâce à sa fiabilité, sa robustesse et sa facilité d'entretien. Néanmoins, son véritable essor découle de la collaboration avec RobCo qui produisit un modèle domestique.

            Vous êtes l'un de ces automates domestiques, produit entre 2037 et 2077 dans le but d'assurer à chaque foyer des États-Unis un majordome loyal. Équipé d'une programmation à la pointe de la technologie, vous êtes doué d'initiative et pouvez adapter votre code pour tirer des leçons de votre environnement. Cette capacité à l'autodétermination vous a permis de survivre à la Grande Guerre : contrairement à d'autres robots qui ont pu être détruits, vous avez réussi à vous débarrasser des entraves de votre programmation pour vivre votre vie.

            De nombreux modèles existent et vous pouvez être issu de n'importe quelle série de Mister Handy, Mister Gusty, Miss Nanny ou Mister Orderly. Un réacteur nucléaire vous alimente et vous pouvez vous-même faire le plein de carburant. Vous pouvez vous réparer, ainsi que réparer les autres unités Mister Handy. Votre modèle dispose de trois bras mécaniques ainsi que de trois yeux au bout de tiges. Votre propulseur vous maintient en l'air, tant que avez du carburant. Cette conception robuste vous a permis de survivre jusqu'ici.
        </p>
        <hr>
        <h4>Trait : Robot Mister Handy</h4>
        <p align="justify" style="white-space: pre-line">
            Vous êtes doté d'une vision 360° et de systèmes sensoriels améliorés qui vous permettent de détecter des odeurs, des produits chimiques et des radiations, ce qui se traduit par une difficulté réduite de 1 pour tous les tests de Perception basés sur la vue et l'odorat. Vous êtes immunisé aux dégâts de radiation et de poison, mais vous ne pouvez pas utiliser de drogues. Vous ne retirez aucun bénéfice de la nourriture, des boissons ou du repos. Vous vous déplacez par propulsion, en flottant au-dessus du sol, et n'êtes donc pas affecté par le terrain difficile ou les obstacles. Votre charge maximale des de 75 kg et elle ne peut pas être accrue par la Force ou vos aptitudes. Néanmoins, vous pouvez l'augmenter grâce à une armure modifiée. Vos blessures ne guérissent pas et vous ne récupérez aucun point de vie si personne ne vous répare.

            Vous ne pouvez pas manipuler le monde qui vous entoure comme les humains. Au lieu de deux mains, vous disposez de trois accessoires. Si vous optez pour un bras doté d'une arme, vous recevez également 20 munitions pour cette arme.
        </p>
    </div>
    <div class="tab-pane fade" id="pills-survivant" role="tabpanel" aria-labelledby="pills-survivant-tab" tabindex="0">
        <h3>{{origines.4}}</h3>
        <hr>
        <p align="justify" style="white-space: pre-line">
            Vous êtes le descendant de personnes qui se sont préparées seules pour l'Armageddon. Vous ne devez votre existence dans le paysage apocalyptique postnucléaire qu'à vos ancêtres, lesquels se sont retranchés, ont survécu et ont trouvé une communauté suffisamment importante pour perpétuer l'espèce humaine.

            Vous pouvez être originaire d'un des nombreux groupes de voyageurs, colonies ou abris isolés qui peuplent de manière sporadique les Terres désolées entre les côtes est et ouest. Vous pouvez venir de la République de Nouvelle Californie, perpétuant l'héritage de l'Abri 15 et des Sables ombragés. Vous battez-vous pour protéger autrui, en faisant partie d'un groupe de survivants comme les Miliciens ou les Régulateurs ? Vous pouvez tout aussi bien être membre d'une bande de pillards sans pitié, ou vous être échappé d'une de ces bandes pour faire amende honorable.

            Quelle que soit votre origine, qu'elle que soit votre destination, créer des liens et poser vos bagages peut être ardu. Naturellement, les survivants se méfient les uns des autres et restent à l'affût du prochain escroc, groupe de pillards ou voleur qui cherchera à s'emparer de leurs ressources acquises à la sueur de leur front. Voyager sur de longues distances est tout aussi difficile et de nombreux survivants nomades, en particulier les marchands et leur caravane, se déplacent entre les grandes communautés de leur région, préférant éviter de parcourir le continent de long en large.
        </p>
        <hr>
        <h4>Traits :</h4>
        <p>Vous pouvez choisir deux des traits suivants ou un trait et une aptitude supplémentaire. Chaque trait vous confère un bénéfice mais s'accompagne d'un revers.</p>
        <div class="table-responsive text-center align-content-center">
            <table class="table table-dark mb-0">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="align-middle">Sélectionner <div id="trait_compteur">0/2</div></th>
                        <th scope="col" class="align-middle">Trait</th>
                        <th scope="col" class="align-middle">Bénéfice</th>
                        <th scope="col" class="align-middle">Revers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="checkbox-xl">
                                <input name="survivant-doue" class="form-check-input survivant" type="checkbox" id="checkbox-1" style="border: 1px solid #00dd00"/>
                            </div>
                        </td>
                        <td>Doué</td>
                        <td>Choisissez deux attributs S.P.E.C.I.A.L : augmentez leur valeur de +1</td>
                        <td>Votre nombre de points de chance maximum est réduit de 1</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox-xl">
                                <input name="survivant-education" class="form-check-input survivant" type="checkbox" id="checkbox-2" style="border: 1px solid #00dd00"/>
                            </div>
                        </td>
                        <td>Éducation</td>
                        <td>Vous possédez un atout personnel supplémentaire</td>
                        <td>Lorsque vous échouez à un test de compétence autre qu'un atout personnel, le MJ gagne 1 PA</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox-xl">
                                <input name="survivant-gringalet" class="form-check-input survivant" type="checkbox" id="checkbox-3" style="border: 1px solid #00dd00"/>
                            </div>
                        </td>
                        <td>Gringalet</td>
                        <td>Vous pouvez relancer 1d20 lors de tout test d'AGI basé sur l'équilibre ou les contorsions</td>
                        <td>Votre charge maximale est de 75 + (2.5 x FOR) kg et non de 75 + (5 x FOR) kg</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox-xl">
                                <input name="survivant-main-lourde" class="form-check-input survivant" type="checkbox" id="checkbox-4" style="border: 1px solid #00dd00"/>
                            </div>
                        </td>
                        <td>Main lourde</td>
                        <td>Votre bonus de dégâts au corps à corps augmente de +1 d6</td>
                        <td>Vos attaques à mains nues et au corps à corps déclenchent une complication sur un 19 ou un 20</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox-xl">
                                <input name="survivant-tir-rapide" class="form-check-input survivant" type="checkbox" id="checkbox-5" style="border: 1px solid #00dd00"/>
                            </div>
                        </td>
                        <td>Tir rapide</td>
                        <td>Si vous entreprenez une seconde action capitale au combat afin d'effectuer une attaque à distance, il ne vous en coûte que 1 PA et non 2</td>
                        <td>Vous ne tirez aucun bénéfice de l'aciton mineure Viser : vous êtes trop impatient</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-habitant" role="tabpanel" aria-labelledby="pills-habitant-tab" tabindex="0">
        <h3>{{origines.5}}</h3>
        <hr>
        <p align="justify" style="white-space: pre-line">
            Quand les bombes sont tombées, vous ou vos ancêtres avez été assez chanceux pour vous replier en sûreté dans l'un des cent-vingt-deux complexes de Vault-Tec enfouis sous terre et protégés par d'épaisses portes anti-explosion, des couches de roche et des mètres de béton. Soit votre famille était assez riche pour se payer une place, soit elle a été tirée au sort pour pouvoirs entrer dans l'abri et survivre à la dévastation nucléaire qui se déroulait au-dehors... mais ce n'était peut-être qu'une condamnation à subir les expériences immorales que Volt-Tec conduisit sur des participants involontaires.

            Vous ne connaissez ni les mutations ni la maladie. Le programme Vault-Tec vous a offert une demeure sûre pendant un temps, mais vous avez dû en payer le prix. Vous avez été un sujet de test et l'on a manipulé votre compréhension du monde ainsi que votre comportement afin de vous étudier. Lorsque vous vous comparez aux habitants de la surface que vous avez appris à connaître, vous constatez que vous avez gardé de profondes séquelles psychologiques, ce qui affecte votre parcours dans les Terres désolées.

            À dessein ou à la suite d'une mauvaise organisation préalable, nombre d'Abris ne disposaient pas d'assez de ressources ou n'étaient pas assez préparés pour attendre de longues années que les retombées nucléaires aient atteint, à l'extérieur, un niveau inoffensifs. Ainsi la plupart d'entre eux tombèrent en panne ou a court de ressources. Ces problèmes poussèrent de nombreux habitants d'abri à chercher de l'aide à la surface et maints complexes ouvrirent leur porte pour permettre aux ressources d'entrer. Dès lors, ces sociétés isolées se mêlèrent aux survivants de la surface et établirent un lien permanent avec cette dernière. L'exemple le plus notable est celui de l'Abri 15, dont les résidents se séparèrent et fondèrent les Sables ombragés, ainsi que les bandes de pillards nommées Jackals, Vipers et Khans.
        </p>
        <hr>
        <p align="justify" style="white-space: pre-line">
             Vous pouvez décider de transformer votre habitant de l'Abri en goule. Vous obtenez alors le trait Post-humain nécrotique au lieu du trait Habitant de l'Abri. Cela rentre dans le cadre de l'origine de votre personnage.
        </p>
        <div class="form-check">
            <input name="transform-to-goule" class="form-check-input" type="checkbox" value="" id="turn_to_goul">
            <label class="form-check-label" for="turn_to_goul" style="clear: none">
                Transformer en Goule ?
            </label>
        </div>
        <br>
        <div id="trait-abri">
            <h4>Trait : Né à l'Abri</h4>
            <p align="justify" style="white-space: pre-line">
                Votre jeunesse saine aux mains de médecins compétents et d'auto-docs sophistiqués implique que vous réduisez la difficulté de tous les tests d'END destinés à résister aux effets des maladies. De plus, le soin apporté à votre éducation vous permet de bénéficier d'un atout personnel supplémentaire au choix (qui commence donc au rang 2).

                Vous pouvez également décider avec le MJ du type d'expérience qui a eu lieu dans votre Abri. Une fois par quête, le MJ peut introduire une complication qui reflète la nature de cette expérimentation, à laquelle vous avez participé contre votre gré ou en lien avec votre jeunesse passée en isolement et confinement dans votre Abri. Dans ce cas, vous regagnez immédiatement un point de chance.
            </p>
        </div>
        <div id="trait-goule" style="display: none">
            <h4>Trait : Post-humain nécrotique</h4>
            <p align="justify" style="white-space: pre-line">
                Vous êtes immunisé aux dégâts de radiation. Au contraire, ils vous soignent : vous récupérez 1 PV par tranche de 3 points de dégâts de radiation qui vous sont infligés. Si vous vous reposez dans un environment irradié, vous pouvez relancer votre réserve de dés pour voir si vos blessures guérissent. De plus, Survie devient un atout personnel : vous gagnez donc 2 rangs dans cette compétence.

                Vous vieillissez bien plus lentement qu'un humain non irradié et vous êtes probablement bien plus vieux que vos compagnons non mutants. Peut-être avez-vous même survécu à la Grande Guerre de 2077. Néanmoins, vous êtes stérile : comme dit le proverbe, "La première génération de goule est la dernière". Vous pouvez connaître de la part des "peaux-lisses" (les humains qui ne sont pas des goules), ce qui augmente la difficulté et la marge de complication des tests de Charisme, selon les croyances de votre interlocuteur.
            </p>
        </div>
    </div>
</div>
<input id="origine-choice" name="origine-choice" value="" type="hidden">

{% load static %}
<script src="{% static 'custom_js/personnage_creation/step_1.js' %}"></script>