<p align="justify" style="white-space: pre-line">
    Un personnage est bien plus que la somme de ses composantes et, à eux seuls, ses attributs et ses compétences ne sauraient refléter la totalité de ses capacités. Votre personnage dispose d'atouts, que l'on appelle des aptitudes. Ces aptitudes représentent les avantages spécifiques de votre manière d'aborder une situation délicate. Elles prennent la forme de bonus mécaniques (des relances, des PA bonus ou des substitutions de compétence) qui s'appliquent dans des circonstances particulières.

    De nombreuses aptitudes présentent une ou plusieurs prérequis. Vous devez remplir ces prérequis avant de pouvoir sélectionner l'aptitude concernée pour votre personnage. Il peut par exemple s'agir d'une valeur minimale dans un attribut S.P.E.C.I.A.L.

    Vous pouvez choisir une seule aptitude dans la liste concernée. Certaines aptitudes possèdent plusieurs rangs que vous pouvez sélectionner : chacun de ces rangs compte comme une aptitude unique.
</p>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <select name="select-aptitude" class="form-select" id="select-aptitude" onchange="display_step_5()">
                <option value="default"  id="default" onclick="clear_select_1()" selected>Sélectionner une aptitude</option>
            </select>
            <h3 id="title"></h3>
            <h5 id="rang-aptitude"></h5>
            <h5 id="prerequis"></h5>
            <p id="description"></p>
        </div>
        <div class="col">
            <div id="aptitude_2" class="d-none">
                <select name="select-aptitude2" class="form-select" id="select-aptitude-2" onchange="display_step_5()">
                    <option value="default" id="default-2" onclick="clear_select_2()" selected>Sélectionner une aptitude</option>
                </select>
                <h3 id="title-2"></h3>
                <h5 id="rang-aptitude-2"></h5>
                <h5 id="prerequis-2"></h5>
                <p id="description-2"></p>
            </div>
        </div>
    </div>
</div>

{% load static %}
{{ aptitudes|json_script:"aptitudes" }}
<script src="{% static 'custom_js/personnage_creation/step_4.js' %}"></script>