<style>
    .info {
        width: 40px;
        font-size: 20px !important;
    }
</style>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h4>
                Points de vie
                <a role="button" class="button btn btn-sm btn-primary rounded-circle info" data-bs-toggle="popover" data-bs-title="Points de vie" data-bs-content="Les points de vie indiquent combien de dégâts vous pouvez encaisser. Votre maximum de PV est égale à votre Endurance plus votre Chance.">?</a>
                : <a id="pv">10</a>
            </h4>
        </div>
        <div class="col">
            <h4>
                Défense
                <a role="button" class="button btn btn-sm btn-primary rounded-circle info" data-bs-toggle="popover" data-bs-title="Défense" data-bs-content="Votre statistique de Défense est la difficulté de base des attaques qui vous prennent pour cible. Elle dépend de votre Agilité. Si votre Agilité est inférieur ou égale à 8, votre défense est de 1. Si votre Agilité est supérieur ou égale à 9, votre défense est de 2">?</a>
                : <a id="defense">1</a>
            </h4>
        </div>
        <div class="col">
            <h4>
                Initiative
                <a role="button" class="button btn btn-sm btn-primary rounded-circle info" data-bs-toggle="popover" data-bs-title="Initiative" data-bs-content="Votre initiative détermine votre rapidité d'action en combat. Elle correspond à votre Perception additionnée à votre Agilité">?</a>
                : <a id="initiative">10</a>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>
                Charge maximale
                <a role="button" class="button btn btn-sm btn-primary rounded-circle info" data-bs-toggle="popover" data-bs-title="Charge maximale" data-bs-content="Votre charge maximale indique le poids de matériel que vous êtes capable de transporter. Vous pouvez transporter 75 kg de matériel, plus un nombre de kilogrammes égal à votre valeur de Force multipliée par 5.">?</a>
                : <a id="charge_max">100 KG</a>
            </h4>
        </div>
        <div class="col">
            <h4>
                Dégâts au corps à corps
                <a role="button" class="button btn btn-sm btn-primary rounded-circle info" data-bs-toggle="popover" data-bs-title="Dégâts au corps à corps" data-bs-content="Votre statistique de dégâts au corps à corps vous octroie un bonus de dégâts aux attaques avec des armes de corps à corps ou à mains nues, grâce à un attribut de Force élevé. Si votre Force est inférieure ou égale à 6, vous ne recevez aucun bonus. (Force 7-8 : +1 d6, Force 9-10 : +2 d6, Force 11+ : +3 d6)">?</a>
                : <a id="melee">0</a>
            </h4>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'custom_js/personnage_creation/step_5.js' %}"></script>