<p align="justify" style="white-space: pre-line">
    Vous devez à présent choisir trois compétences qui seront vos atouts personnels. Ces derniers déterminent les compétences les plus importantes de votre personnage et représentent des champs d'expertise et de connaissances précis qu'il possède.

    Lorsque vous utilisez un atout personnel, tout dé dont le résultat est inférieur ou égal à votre rang dans cette compétence vous confère une réussite critique.

    Chacun de vos atouts personnels commencent au rang 2. Vous pouvez ensuite acheter des rangs dans vos compétences. Vous disposez d'un nombre de points de compétence total égal à 9 plus votre Intelligence. Au cours de la création de votre personnage, vous ne pouvez pas développer une compétence au-delà du rang 3.
</p>
<div class="table-responsive text-center align-content-center">
    <table class="table table-dark mb-0">
        <thead>
            <tr>
                <th scope="col">Atouts personnels <a id="atout_compteur">0</a>/<a id="max_atout_number">3</a></th>
                <th scope="col">Nom</th>
                <th scope="col">Attribut</th>
                <th scope="col">Rang, Points restants : <a href="#" id="competence_points" style="pointer-events:none">14</a>/<a href="#" id="max_competence" style="pointer-events:none">14</a></th>
            </tr>
        </thead>
        <tbody>
            {% for competence_name, competence_attribut in competences.items %}
            <tr>
                <td>
                    <div class="checkbox-xl">
                        <input name="atout-{{forloop.counter0}}" class="form-check-input atout" type="checkbox" id="atout-{{forloop.counter0}}" style="border: 1px solid #00dd00"/>
                    </div>
                </td>
                <td>
                    {{competence_name}}
                </td>
                <td>
                    {{competence_attribut}}
                </td>
                <td>
                    <input name="rang-{{forloop.counter0}}" min="0" max="3" value="0" type="number" id="rang-{{forloop.counter0}}" class="form-control text-center rang" onChange="manage_competence_rangs(this.defaultValue, this, 'rang')">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% load static %}
<script src="{% static 'custom_js/personnage_creation/step_3.js' %}"></script>