<p align="justify" style="white-space: pre-line">
    Au début de la création de votre personnage. Chacun de ses attributs S.P.E.C.I.A.L commence au niveau 5 (sauf si votre origine modifie cette valeur de départ). Vous disposez de 5 points pour améliorer vos attributs. Aucun de vos attributs ne peut être supérieur à 10, excepté si votre origine altère ce maximum. Vous pouvez réduire un attribut S.P.E.C.I.A.L à 4 afin de bénéficier d'un point à dépenser dans un autre attribut.

    Vos attributs S.P.E.C.I.A.L constituent une partie de vos seuils de réussite pour les tests de compétences et contribuent à la plupart de vos statistiques dérivées.
</p>
<p>Points restants : <a href="#" id="remaining_points" style="pointer-events:none">5</a></p>
<div class="table-responsive text-center align-content-center">
    <table class="table table-dark mb-0">
        <thead>
            <tr>
                <th scope="col">Force</th>
                <th scope="col">Perception</th>
                <th scope="col">Endurance</th>
                <th scope="col">Charisme</th>
                <th scope="col">Intelligence</th>
                <th scope="col">Agilité</th>
                <th scope="col">Chance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input id="force" min="4" max="10" value="5" type="number" class="form-control text-center special" name="force" onChange="compare_old_and_new_value(this.value, this.defaultValue, this, 'special', 'remaining_points')"/></td>
                <td><input id="perception" min="4" max="10" value="5" type="number" class="form-control text-center special" name="perception" onChange="compare_old_and_new_value(this.value, this.defaultValue, this, 'special', 'remaining_points')"/></td>
                <td><input id="endurance" min="4" max="10" value="5" type="number" class="form-control text-center special" name="endurance" onChange="compare_old_and_new_value(this.value, this.defaultValue, this, 'special', 'remaining_points')"/></td>
                <td><input id="charisme" min="4" max="10" value="5" type="number" class="form-control text-center special" name="charisme" onChange="compare_old_and_new_value(this.value, this.defaultValue, this, 'special', 'remaining_points')"/></td>
                <td><input id="intelligence" min="4" max="10" value="5" type="number" class="form-control text-center special" name="intelligence" onChange="compare_old_and_new_value(this.value, this.defaultValue, this, 'special', 'remaining_points')"/></td>
                <td><input id="agilite" min="4" max="10" value="5" type="number" class="form-control text-center special" name="agilite" onChange="compare_old_and_new_value(this.value, this.defaultValue, this, 'special', 'remaining_points')"/></td>
                <td><input id="chance" min="4" max="10" value="5" type="number" class="form-control text-center special" name="chance" onChange="compare_old_and_new_value(this.value, this.defaultValue, this, 'special', 'remaining_points')"/></td>
            </tr>
        </tbody>
    </table>
</div>

{% load static %}
<script src="{% static 'custom_js/personnage_creation/step_2.js' %}"></script>